* {
    margin: 0;
    padding: 0;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
}

.textview {
    width: 204px;
    margin: 5px;
    font-size: 30px;
    font-weight: 50;
    padding: 5px;
    font-family: "digital font";

}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    border: 10px solid darkorange;
}

.bg {
    background: linear-gradient(to right, #837861, #4d0303);
    height: 100vh;

}

@font-face {
    font-family: "digital font";
    src: url(DIGITALDREAM.ttf)
}