html {
  /* @media (max-width: 499px) { font-size: 14px; } */
}

html.overflown {
  overflow: hidden;
}

/*
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: #ddd;
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/
.sc_popup .sc_readmore {
  color: #9D5C63;
}

.sc_popup .sc_readmore:hover,
.sc_popup .sc_readmore:active,
.sc_popup .sc_readmore:focus {
  color: #bb8b90;
}

.sc_popup .sc_readmore_body {
  display: block;
  margin: 0.5rem 0;
  font-weight: 300;
  text-align: justify;
}

.sc_popup .sc_readmore_body a {
  color: #9D5C63;
  text-decoration: none;
}

.sc_popup .sc_readmore_body a:hover,
.sc_popup .sc_readmore_body a:active,
.sc_popup .sc_readmore_body a:focus {
  color: #bb8b90;
}

.sc_popup .sc_readmore_body,
.sc_popup form .sc_agreements label {
  font-size: 0.7em;
  color: #a1a1a1;
}

.sc {
  /* ----------- */
}

.sc_tg_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)translateY(-50%);

  width: 68px;
  height: 68px;
  opacity: 1;
  z-index: 10000;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

/* .sc_tg_btn { position: fixed; bottom: 4rem; right: 4rem; width: 68px; height: 68px; opacity: 1; z-index: 10000; -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -o-animation-duration: 2s; animation-duration: 2s; -webkit-transition: ease-in-out 0.3s; -moz-transition: ease-in-out 0.3s; -ms-transition: ease-in-out 0.3s; -o-transition: ease-in-out 0.3s; transition: ease-in-out 0.3s; } */
.cont {
  background-color: #40474e;
  height: 10vh;
  position: relative;
  text-align: center;
  justify-content: center;

}

.mapbasel {
  border: 5px solid #FBBC05;
}


.sc_tg_btn.left {
  right: auto;
  left: 4rem;
}

.sc_tg_btn.hide {
  bottom: -4rem;
  opacity: 0;
}

@media (max-width: 991px) {
  .sc_tg_btn {
    bottom: 2rem;
    right: 2rem;
    width: 59px;
    height: 59px;
    border-width: 3px;
  }

  .sc_tg_btn.left {
    right: auto;
    left: 2rem;
  }
}

@media (max-width: 767px) {
  .sc_tg_btn {
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    border-width: 2px;
  }

  .sc_tg_btn.left {
    right: auto;
    left: 1rem;
  }
}

.sc_round_container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #a2d6ff;
  z-index: 1;
}

.sc_round_container .sc_icon {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url(../img/phone_w.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center center;
}

.sc_round_container .sc_icon a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sc_ripple {
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  border-color: #aeaeae;
  z-index: 0;
}

.sc_ripple,
.sc_ripple::before,
.sc_ripple::after {
  display: block;
  position: absolute;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -webkit-animation: ripple 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
  opacity: 0;
}

.sc_ripple::after {
  content: "";
  height: 150%;
  width: 150%;
  left: -27%;
  top: -27%;
}

.sc_ripple2 {
  width: 150%;
  height: 150%;
  z-index: 0;
}

.sc_ripple2 {
  display: block;
  position: absolute;
  top: -17px;
  left: -17px;
  background: #fff;
  -webkit-border-radius: 50%;
  -webkit-animation: ripple2 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
  opacity: 0;
}

@media (max-width: 991px) {
  .sc_ripple2 {
    top: -15px;
    left: -15px;
  }
}

@media (max-width: 767px) {
  .sc_ripple2 {
    top: -13px;
    left: -13px;
  }
}

.sc_tg_btn_container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 100%;
  height: 68px;
  margin-left: 1rem;
  padding: 0 68px;
  background: #86b2da;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  z-index: 10000;
}

.sc_tg_btn_container.hide {
  bottom: -4rem;
  opacity: 0;
}

@media (max-width: 991px) {
  .sc_tg_btn_container {
    height: 59px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
  }
}

@media (max-width: 767px) {
  .sc_tg_btn_container {
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
}

.sc_tg_btn_container .sc_tg_btn_text {
  position: relative;
  top: 50%;
  left: calc(50% - 17px);
  margin: 0;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .sc_tg_btn_container .sc_tg_btn_text {
    display: none;
  }
}

.sc_tg_btn_container .sc_tg_btn {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
}

.sc_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.sc_popup_container {
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: auto;
}

.sc_popup_container button {
  display: inline;
  width: auto;
  min-width: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.sc_popup {
  position: relative;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  background: #FEF5EF;
  font-family: 'Oswald', sans-serif;
  color: #212121;
  line-height: 1.5;
}

.sc_popup p {
  margin: 0;
  color: inherit;
}

.sc_popup .sc_btn_close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -12px;
  top: -12px;
  margin: 0;
  padding: 0;
  background: transparent url(../img/close.svg);
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: ease-out transform 0.3s;
  -moz-transition: ease-out transform 0.3s;
  -ms-transition: ease-out transform 0.3s;
  -o-transition: ease-out transform 0.3s;
  transition: ease-out transform 0.3s;
}

.sc_popup .sc_btn_close:hover,
.sc_popup .sc_btn_close:focus,
.sc_popup .sc_btn_close:active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 767px) {
  .sc_popup .sc_btn_close {
    right: 0;
    top: 0;
  }
}

.sc_popup .sc_title_section {
  padding: 2rem;
}

.sc_popup .sc_title_section {
  background: #FBBC05;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.sc_popup .sc_body_section p,
.sc_popup .sc_footer_section p {
  margin: 0 0 1rem 0;
  font-weight: 300;
  font-size: inherit;
}

.sc_popup .sc_body_section {
  padding: 2rem 2rem 0.5rem 2rem;
}

.sc_popup .sc_footer_section {
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
}

.sc_popup .sc_footer_section p:last-child {
  margin-bottom: 0;
}

.sc_popup .sc_footer_section.success {
  background: #cef6bc;
}

.sc_popup .sc_footer_section.error {
  background: #ffb0b3;
}

.sc_popup .sc_division {
  position: relative;
  margin-bottom: 1rem;
}

.sc_popup form label {
  display: block;
  margin-bottom: 0.5rem;
}

.sc_popup form .input .icon.wrong-input {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sc_popup form .input .sc_status {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.3rem 0;
  background: transparent;
  text-align: left;
  color: inherit;
}

.sc_popup form .input.wrong-input .icon.wrong-input {
  display: block;
}

.sc_popup form .input.wrong-input .sc_status {
  color: #dd1531;
}

.sc_popup form input[type="text"],
.sc_popup form input[type="tel"],
.sc_popup form input[type="email"],
.sc_popup form input[type="url"],
.sc_popup form textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 0 0.5rem 0;
  background: transparent;
  border: none;
  border-bottom: solid 2px #D6E3F8;
  line-height: 1.5rem;
  outline: none;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.sc_popup form input[type="text"]:hover,
.sc_popup form input[type="text"]:active,
.sc_popup form input[type="text"]:focus,
.sc_popup form input[type="tel"]:hover,
.sc_popup form input[type="tel"]:active,
.sc_popup form input[type="tel"]:focus,
.sc_popup form input[type="email"]:hover,
.sc_popup form input[type="email"]:active,
.sc_popup form input[type="email"]:focus,
.sc_popup form input[type="url"]:hover,
.sc_popup form input[type="url"]:active,
.sc_popup form input[type="url"]:focus,
.sc_popup form textarea:hover,
.sc_popup form textarea:active,
.sc_popup form textarea:focus {
  border-color: #FBBC05;
}

.sc_popup form input[type="text"]::-webkit-input-placeholder,
.sc_popup form input[type="tel"]::-webkit-input-placeholder,
.sc_popup form input[type="email"]::-webkit-input-placeholder,
.sc_popup form input[type="url"]::-webkit-input-placeholder,
.sc_popup form textarea::-webkit-input-placeholder {
  color: gree;
}

.sc_popup form input[type="text"]:-moz-placeholder,
.sc_popup form input[type="tel"]:-moz-placeholder,
.sc_popup form input[type="email"]:-moz-placeholder,
.sc_popup form input[type="url"]:-moz-placeholder,
.sc_popup form textarea:-moz-placeholder {
  /* FF 4-18 */
  color: #a1a1a1;
}

.sc_popup form input[type="text"]::-moz-placeholder,
.sc_popup form input[type="tel"]::-moz-placeholder,
.sc_popup form input[type="email"]::-moz-placeholder,
.sc_popup form input[type="url"]::-moz-placeholder,
.sc_popup form textarea::-moz-placeholder {
  /* FF 19+ */
  color: #a1a1a1;
}

.sc_popup form input[type="text"]:-ms-input-placeholder,
.sc_popup form input[type="tel"]:-ms-input-placeholder,
.sc_popup form input[type="email"]:-ms-input-placeholder,
.sc_popup form input[type="url"]:-ms-input-placeholder,
.sc_popup form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #a1a1a1;
}

.sc_popup form input[type="text"].correct-input,
.sc_popup form input[type="tel"].correct-input,
.sc_popup form input[type="email"].correct-input,
.sc_popup form input[type="url"].correct-input,
.sc_popup form textarea.correct-input {
  border-color: #73dd43;
}

.sc_popup form input[type="text"].wrong-input,
.sc_popup form input[type="tel"].wrong-input,
.sc_popup form input[type="email"].wrong-input,
.sc_popup form input[type="url"].wrong-input,
.sc_popup form textarea.wrong-input {
  border-color: #dd1531;
}

.sc_popup form input[type="tel"],
.sc_popup form input.jsm_phone {
  letter-spacing: 1px;
}

.sc_popup form .sc_btn {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.5em 1em;
  border: none;
  background: #FBBC05;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.sc_popup form .sc_btn:hover {
  background: #fae204;
  color: #212121;
}

.sc_popup form .sc_agreements .sc_checkbox_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  margin: 0;
  /* Create a custom checkbox */
}

.sc_popup form .sc_agreements .sc_checkbox_container input {
  margin: 0;
  visibility: hidden;
}

.sc_popup form .sc_agreements .sc_checkbox_container input.wrong-input~.checkmark {
  border: solid 2px #dd1531;
}

.sc_popup form .sc_agreements .sc_checkbox_container input:checked~.checkmark {
  background-color: #E4BB97;
}

.sc_popup form .sc_agreements .sc_checkbox_container input:checked~.checkmark:after {
  display: block;
}

.sc_popup form .sc_agreements .sc_checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #eee;
  cursor: pointer;
  -webkit-transition: ease-in-out background 0.3s;
  -moz-transition: ease-in-out background 0.3s;
  -ms-transition: ease-in-out background 0.3s;
  -o-transition: ease-in-out background 0.3s;
  transition: ease-in-out background 0.3s;
  /* Create the checkmark/indicator (hidden when not checked) */
}

.sc_popup form .sc_agreements .sc_checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -o-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.sc_popup form .sc_agreements .sc_checkbox_container:hover input~.checkmark {
  background-color: #ccc;
}

.sc_popup form .sc_agreements label {
  display: inline-block;
  min-height: 1.5rem;
  margin-bottom: 0;
  margin-left: 2rem;
  font-weight: 300;
  cursor: pointer;
}

.sc_popup form .sc_agreements label a {
  color: #9D5C63;
  text-decoration: none;
}

.sc_popup form .sc_agreements label a:hover,
.sc_popup form .sc_agreements label a:active,
.sc_popup form .sc_agreements label a:focus {
  color: #bb8b90;
}

.sc_popup form .sc_agreements p {
  display: inline;
  font-size: inherit;
}

.sc_popup .sc_body_content_section {
  text-align: center;
}

.sc_popup .sc_body_content_section p {
  margin-bottom: 0;
}

.sc_popup .container.no-padding,
.sc_popup .container-fluid.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.sc_popup .container.no-padding .row,
.sc_popup .container-fluid.no-padding .row {
  margin-left: 0;
  margin-right: 0;
}

.sc_popup .container.no-padding .row [class*="col-"],
.sc_popup .container-fluid.no-padding .row [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/* --- */
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@-webkit-keyframes ripple2 {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.4;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes ripple2 {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.4;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}